.name{
    background-color: beige;
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;

    animation: name-animation 2s ease-in-out;
}   

@keyframes name-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}